*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.name{
    color:black;
    text-align: center;
}
.para{
    margin-right: 200px;
}

.btn{
    padding: 10px 15px;
    font-size: 15px;
    color: black;
    background-color: blue;
    border-radius: 5px;
}
.header{
   display: flex; 
   flex-direction: row;
   justify-content: space-around;
}

a{
    text-decoration: none;
    font-size: 30px;
    color: black;
    
}
.footer{
    background-color: blue ;
}

